@use "sass:map";

@import '../GlobalStyles/colors.scss';
.content {
    color: $secondary-text;
    font-weight: map.get($FontWeight, 700 );
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}