@use "sass:map";

@import "../../GlobalStyles/colors.scss";

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 16px;
}

.title {
    color: $primaryText;
    font-weight: map-get($FontWeights, 700);
    text-align: left;
    word-break: break-word;
}

.actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content {
    flex: 1;
    overflow-y: overlay;
}