//Color

$lightBlue: #0A7CFF;
$background : #ffffff;
// Color Background
$webWash : #F0F2F5;
$grayBackground : #f8f8f8;
//Color Tex;
$secondaryText: #65676B;
$grayText : #595959;
$primaryText : #050505;
//Border
$mediaInnerBorder: rgba(0, 0, 0, 0.1);
//Icon
$secondaryIcon: #f5f5f5;
$placeholderIcon :#65676B;
$primaryIcon: #050505;
$shadow1: rgba(0, 0, 0, 0.1);
$shadow2: rgba(0, 0, 0, 0.2);
$shadow5: rgba(0, 0, 0, 0.5);
$shadow8: rgba(0, 0, 0, 0.8);
$blue : rgb(0, 132, 255);
//Bold
$FontWeights : (
    500 : 500,
    700 : 700,
    bold: bold,
);

//Media

$media-width-breakpoint : 900px;
