@import "../../GlobalStyles/colors.scss";

.wrapper {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.message-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.messages-container {
    flex: 1;

}

.message-group-container {
    margin-bottom: 2px;

    &:not(:first-of-type, :last-of-type) {
        .message {
            .message-row {
                .user-content {
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;
                }

                .receiver-content {
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                }
            }
        }

    }

    &:first-of-type {
        .message {
            .message-row {
                .user-content {
                    border-top-right-radius: 18px;
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;
                }

                .receiver-content {
                    border-top-right-radius: 18px;
                    border-top-left-radius: 18px;
                    border-bottom-right-radius: 18px;
                }
            }
        }
    }

    &:last-of-type {
        .message {
            .message-row {
                .user-content {
                    border-bottom-right-radius: 18px;
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;
                }

                .receiver-content {
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                    border-bottom-left-radius: 18px;
                }
            }
        }
    }
}

.message {
    padding-right: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;

    &:hover .action-menu {
        visibility: visible;
    }

    // &:not(:first-of-type, :last-of-type) {
    //     .message-row {
    //         .user-content {
    //             border-top-left-radius: 18px;
    //             border-bottom-left-radius: 18px;
    //         }

    //         .receiver-content {
    //             border-top-right-radius: 18px;
    //             border-bottom-right-radius: 18px;
    //         }
    //     }
    // }

    // &:first-of-type {
    //     .message-row {
    //         .user-content {
    //             border-top-right-radius: 18px;
    //             border-top-left-radius: 18px;
    //             border-bottom-left-radius: 18px;
    //         }

    //         .receiver-content {
    //             border-top-right-radius: 18px;
    //             border-top-left-radius: 18px;
    //             border-bottom-right-radius: 18px;
    //         }
    //     }
    // }

    // &:last-of-type {
    //     .message-row {
    //         .user-content {
    //             border-bottom-right-radius: 18px;
    //             border-top-left-radius: 18px;
    //             border-bottom-left-radius: 18px;
    //         }

    //         .receiver-content {
    //             border-top-right-radius: 18px;
    //             border-bottom-right-radius: 18px;
    //             border-bottom-left-radius: 18px;
    //         }
    //     }
    // }
}


.message-row {
    flex: 1;
    display: flex;
    align-items: center;
}

.content {
    color: $whiteText;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-y: hidden;
    padding: 7px 12px 8px;
    border-radius: 4px;
    background-color: $blueBackgroundMessage;
    font-size: var(--font-size-input);
}

.spacer {
    flex: 1;
}

.action-menu {
    display: flex;
    visibility: hidden;
    flex-shrink: 0;
}

.status-line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 4px 6px 2px 0px;
    height: 20px;
}

.status {
    width: 20px;
    margin-bottom: 2px;
    margin-left: 4px;
}


//Receiver
.message-row-receiver {
    flex-flow: row-reverse;
}

.receiver-avatar {
    padding: 0px 8px 30px 10px;
    height: 100%;
}

.receiver-content {
    color: $primaryText;
    background-color: $messengerCardWashBackground;
}