@import '../../GlobalStyles/colors.scss';
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation{
    
}

.content{
    background-color: $web-wash;
    flex : 1;
}